<h1>Todo Manager</h1>
<p>This is a todo manager of high quality.</p>
<p><blockquote>I am an expert and I can confirm this. </p><p>- An expert</blockquote></p>
<%= link_to 'Begin', {controller: 'tasks'}, :class => "btn btn-default" %>